 <div class="medium-box">
  <div class="row clearfix">
    <%#wine_club = SmallBoxSetting.find_by_box_title("wine_club_home")%>
    <% if wine_club and wine_club.image %>
      <div class="col-xs-6">
        <%= link_to image_tag(wine_club.image.image_filename.try(:url), :title=>"Wine Club", :alt=> "Wine Club"), "/wine-club", :title=>"Wine Club" -%>
      </div>  
    <%end%>
    <div class="col-xs-6">
      <div class="truncate_wine_text"><%=wine_club.description.html_safe rescue 'Discover the best Italian wines sat on the confort of your home'%></div>
      <div class="read-more"><%= link_to "Read More", "/wine-club", :title=>"Read More" %></div>
    </div>
  </div>
</div>