<% @title = "Terms and Condition"; @class = "help no-padding"; @breadcrumbs = "#{link_to("Home", root_url)} &raquo; Help &raquo; Terms and Condition" %>
<div id="header"><strong>Italyabroad.com</strong>-Help</div>
<% @about = AboutU.find(:first, :conditions => {:link_type => "terms_conditions"} ) %>
<div class="help-container">
  <% if @about %>
  <h2><%= @about.title.html_safe %></h2>
     <%= @about.description.html_safe -%>
  <% end %>
</div>

<% content_for :right do %>
  <%= render :partial => '/site/shared/box_help' %>
    <br />
   	<%= render :partial => '/site/shared/box_mood' %>

<% end %>

