<%# @title = "Corporate services"; @description = "Corporate services, corporate gifts in the UK"; @keys = "corporate services, corporate gifts, corporate hampers" %>
<% @title = "Corporate services"; @description = "Corporate services, corporate gifts in the UK"; @key = "corporate services, corporate gifts, corporate hampers" %>
<% @class = "about-us no-padding" %>
<% @breadcrumbs = "#{link_to("Home", root_url)} &raquo; About us &raquo; Corporate services" %>

  <% @about = AboutU.find(:first, :conditions => {:link_type => "corporate services"} ) %>
    <div class="help-container">
      <% if @about %>
        <div class="green-heading-with-border"><%= @about.title.html_safe if @about %></div>
        <div class="terms-text bottom-text"><%= @about.description.html_safe if @about %></div>
      <% else %>
        <div class="terms text bottom-50">Coming soon...</p>
      <% end %>
    </div>

