<% @title = "Shop Franchise"; @class = "help no-padding"; @breadcrumbs = "#{link_to("Home", root_url)} &raquo; Franchise" %>


<!-- div id="header"><strong>Italyabroad.com</strong> – Franchising</div -->
<div id="header"><strong>Italyabroad.com</strong>-About us</div>
<div class="help-container">

  <%= @setting.franchise if !@setting.nil? %>

</div>

<% content_for :right do %>
  <%= render :partial => '/site/shared/box_about_us' %>
<% end %>

