<% @title = "Guarantee of Satisfaction"; @class = "help no-padding"; @breadcrumbs = "#{link_to("Home", root_url, :title=>"Home")} &raquo; Guarantee of Satisfaction" %>


<!-- div id="header"><strong>Italyabroad.com</strong> – Franchising</div -->
<!-- <div id="header"><strong>Italyabroad.com</strong>-About us</div> -->
<div class="help-container">
	<div class="green-heading-with-border"><h1>Italian wine and food |Award winning wine merchant<!-- Guarantee of Satisfaction --></h1></div>
	<div class="terms-text bottom-50"><%= @setting.guarantee_of_satisfaction.html_safe if !@setting.nil? and @setting.guarantee_of_satisfaction.present? %></div>

</div>


