<% @title = "Guarantee of Satisfaction"; @class = "help no-padding"; @breadcrumbs = "#{link_to("Home", root_url)} &raquo; Guarantee of Satisfaction" %>


<!-- div id="header"><strong>Italyabroad.com</strong> – Franchising</div -->
<div id="header"><strong>Italyabroad.com</strong>-About us</div>
<div class="help-container">

  <%= @setting.guarantee_of_satisfaction.html_safe() if !@setting.nil? and @setting.guarantee_of_satisfaction.present? %>

</div>

<% content_for :right do %>
  <%= render :partial => '/site/shared/box_about_us' %>
  <br />
  <%= render :partial => '/site/shared/social_follow' %>
<% end %>

