= render partial: 'layouts/css'
.bottom-content
  .heading-with-border
    h2 Where it all began
  div
    .border-box.clearfix
      .col-md-7.text-box
        p Our story begins a long time ago (long before I was born), in a small Italian village in Abruzzo, where my grandparents, Ida and Ettore (seen in these two photographs), and their parents before them, were tending vines and making their wine on hillsides overlooking the medieval town of Gissi.
        p In post war Italy, cars were for rich people, and Ida and Ettore were not; they would get up at 3:00 am in the morning, and would set off with a donkey carrying all the necessary equipment. My grandparents would walk some 10km and work until 12:00pm, and then return home, weary from the days physical excursions, almost every day of the year, come rain or shine, just to make their own wine.
        p
          strong This is where my and our story started
      .col-md-5.image-box
        = image_tag "landing-img/image-01.png"
    .border-box.clearfix
      .col-md-5.image-box
        = image_tag "landing-img/image-02.png"
      .col-md-7.text-box
        p Then I came along, and along came the tractors; the donkey was retired; but still, almost every morning for a few more years, my grandparents continued their work on the vineyards with the same commitment and the same pride that went into making their own wine and freely sharing their enthusiasm and knowledge of winemaking with their grandsons.
        p In our family food and wine were not considered commodities, for us, they are one of life’s real pleasures to be savoured and remembered.
        p We have the same passion and commitment at Italyabroad.com, everything we import is made with love, care and with passion, from real people, with faces, some are above, and with stories to tell, just like my grandparents.
  .main-heading
    | So, why buy
    strong Italian
    | from us?
  .content-box1
    p
      | Our wine makers and artisans are
      strong truly small and passionate,
      | whole families working together to create
      strong great wines
      | and quality food. Great wine is made by nurturing the vineyards and
      strong healthy food
      | by selecting the finest natural ingredients.
    p
      strong We don’t tell fairy tales to justify huge discount and ridiculous prices, you won’t find our vouchers in toilet paper packs, instead we offer quality and outstanding value for money.
    p
      strong Authentic Italian wine
      | is not the one constantly on offer with the most ridiculous names; and,
      strong authentic Italian food
      | should be naturaland made simply, with no long list of ingredients with great quantities of added preservatives.
  .main-heading2
    | When is the last time you got
    strong excited
    br/
    | when tasting something Italian?
  .content-box1
    p Or, when was the last time you went to Italy on holiday and said “I wish I could find this at home?
    p
      | Italyabroad.com is purely quality Italian wine and food from small Italian artisans,
      strong this is what we are and stand for.
      | And so, if you like what you read, you can
      strong start browsing with confidence
      | and we guarantee that
      strong you and your taste buds will feel excited again
      | and all without having to wait until your next trip to Italy.
  .content-box2
    p
      strong “It's unwise to pay too much, but it's worse to pay too little. When you pay too much, you lose a little money - that's all. When you pay too little, you sometimes lose everything, because the thing you bought was incapable of doing the thing it was bought to do. The common law of business balance prohibits paying a little and getting a lot - it can't be done.
    .name (John Ruskin)
    p “The bitterness of poor quality remains long after the sweetness of low price is forgotten”
    .name (Benjamin Franklin)
  .promise Having read this far, these are our promises to you:
  .three-column.clearfix
    .col-md-4
      .col-icon
        = image_tag "landing-img/customer-icon.png", alt: "cutomer" , title: "cutomer" 
      .col-title Outstanding Customer Service
      .col-des
        | We know
        strong everything
        | there is to know about our produce and are happy to help you find what you looking for.
    .col-md-4
      .col-icon
        = image_tag "landing-img/delivery-icon.png", alt: "Delivery" , title: "Delivery" 
      .col-title Delivered To Your Doorstep
      .col-des
        | Free
        strong next day
        | delivery when you spend £100 or more.
    .col-md-4
      .col-icon
        = image_tag "landing-img/wine-icon.png", alt: "Wine",  title: "Wine" 
      .col-title The Italyabroad.com Promise
      .col-des
        | If you dont like the wine or you think it is faulty, we will
        strong replace
        | or
        strong refund
        | it with  no questions asked.
  .get-start
    a href="#{session[:return_path]}" title=("Get Started") 
      = image_tag "landing-img/get-started-btn.png", alt: "Get started", title: "Get Started"