<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Basic Page Needs ================================================== -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Italybroad | Other Drinks</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="Abdul Malik" content="Goodlogics">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <!-- css Files-->
    <!-- <link type="text/css" rel="stylesheet" href="css/bootstrap-theme.css" /> -->
    <link type="text/css" rel="stylesheet" href="stylesheets/bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="stylesheets/bootstrap.css" /> 
    <link type="text/css" rel="stylesheet" href="stylesheets/landing.css" />
    
</head>
    <body>
        <div class="container">
            <div class="landing-header">
                <div class="main-banner">
                    <div class="top-content">
                        <div class="enter-site-row">
                            <div class="enter-button1">
                                <a href="/"><img src="landing-img/enter-main-site.png" alt="enter main site"></a>
                            </div>
                            
                            <div class="enter-button2">
                                <a href="/login"><img src="landing-img/login-btn.png" alt="login button" /></a>
                            </div>
                        </div>
                        <div class="welcome-board">
                            <div class="row clearfix">
                                <div class="col-md-5 col-md-offset-1 col-xs-offset-1 col-xs-10">
                                    <div class="welcome-bg">
                                        <div class="green-heading">Welcome to Italy...abroad</div>
                                        <div class="welcome-text">
                                            <p>At Italyabroad.com we only work with small and passionate wine makers and artisans, we only sell the wine and food we love</p>
                                            <p>We don’t tell fairytales to justify huge discounts and ridiculous prices, the only stories we tell are the ones of our producers and ours and why we love them</p>
                                        </div>
                                        <div class="welcome-btn"><a href="<%=session[:return_path]%>"><img src="landing-img/get-excited-btn.png" alt="get excited" /></a></div>
                                        <div class="welcome-logo"><a href="/"><img src="landing-img/logo_hi_res.gif" alt="logo" /></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom-content">
                <div class="heading-with-border">
                    <h2>Where it all began</h2>
                </div>
                <div>
                    <div class="border-box clearfix">
                        <div class="col-md-7 text-box">
                            <p>Our story starts a long time ago, I wasn’t even born, in a small Italian village in Abruzzo, where my grandparents, in the photographs, and their parents before them, were making their wine from small hilly vineyards.</p>
                            <p>At that time cars were for rich people and they were not, they would get up at 3am in the morning, and with a donkey carrying all the equipment, they will walk for about 10km and work until 12, and then another 10 km, almost every day of the year, whether rainy or sunny, just to make their own wine. This is where my and our story started. </p>
                        </div>
                        <div class="col-md-5 image-box"><img src="landing-img/image-01.png" alt="image" /></div>
                    </div>
                    <div class="border-box clearfix">
                        <div class="col-md-5 image-box"><img src="landing-img/image-02.png" alt="image" /></div>
                        <div class="col-md-7 text-box">
                            <p>Then I came along and along came the tractors and the donkey retired but still almost every morning, for a few more years, the same commitment and the same pride went into making their own wine and sharing with their grandsons. </p>
                            <p>In our family, wine and food were not considered commodities, for us they are one of life’s pleasures.</p>
                            <p>The same passion and commitment we have at Italyabroad.com, everything we import is made with care and love, with passion, from real people, with faces, some of them are above, with stories like my grandparents. </p>
                        </div>
                    </div>
                </div>
                <div class="main-heading">So, why buy <b>Italian</b> from us?</div>
                <div class="content-box1">
                    <p>Our wine makers and artisans are <b>truly small and passionate</b>, whole families working together good wine and quality food are not made in factories, economies of scale dont matter, <b>great wine</b> is made looking after the vineyards and <b>healthy food</b> by using the best and natural ingredients</p>
                    <p><b>We don’t tell fairytales to justify huge discount and ridiculous prices, we don’t offer deals. </b></p>
                    <p><b>Authentic Italian wine</b>  is not the one constantly on offer with the most ridiculous names and Italian food is simple, no long list of ingredients with plenty of preservative or conservatives.</p>
                    <p>And by working directly with small wine makers and artisans we offer the <b>best value for money</b></p>
                </div>
                <div class="main-heading2">When is the last time you got <b>excited</b><br/> when tasting something Italian? </div>
                <div class="content-box1">
                    <p>Can you remember the last time you got <b>excited when tasting something Italian?</b> or the last time you went to Italy on holiday and said  “I wish I could find this at home”? </p>
                    <p>Italyabroad.com is purely great Italian wine and food from small Italian artisans, <b>this is what we are and stand for</b>, so if you like what you read, you can <b>start browsing with confidence</b> and you and your taste buds will get <b>excited</b> again without waiting till your next trip to Italy.</p>
                </div>
                <div class="content-box2">
                    <p><b>“It's unwise to pay too much, but it's worse to pay too little. When you pay too much, you lose a little money - that's all. When you pay too little, you sometimes lose everything, because the thing you bought was incapable of doing the thing it was bought to do. The common law of business balance prohibits paying a little and getting a lot - it can't be done.</b></p>
                    <div class="name">(John Ruskin)</div>
                    <p>“The bitterness of poor quality remains long after the sweetness of low price is forgotten”</p>
                    <div class="name">(Benjamin Franklin)</div>
                </div>
                <div class="promise">If you got that far in reading, then here are our promises to you </div>
                <div class="three-column clearfix">
                    <div class="col-md-4">
                        <div class="col-icon"><img src="landing-img/customer-icon.png"></div>
                        <div class="col-title">Outstanding Customer Service</div>
                        <div class="col-des">We know <b>everything</b> there is to know about our produce and are happy to help you find what you looking for.</div>
                    </div>
                    <div class="col-md-4">
                        <div class="col-icon"><img src="landing-img/delivery-icon.png"></div>
                        <div class="col-title">Delivered To Your Doorstep</div>
                        <div class="col-des">Free <b>next day</b> delivery when you spend &pound;100 or more.</div>
                    </div>
                    <div class="col-md-4">
                        <div class="col-icon"><img src="landing-img/wine-icon.png"></div>
                        <div class="col-title">The Italyabroad.com Promise</div>
                        <div class="col-des">If you dont like the wine or you think it is faulty, we will <b>replace</b> or <b>refund</b> it with  no questions asked.</div>
                    </div>
                </div>
                <div class="get-start"><a href="<%=session[:return_path]%>"><img src="landing-img/get-started-btn.png" alt="image" /></a></div>
            </div>
        </div>
    </body>
</html>
