<% @title = "Meet us"; @class = "about-us no-padding"; @breadcrumbs = "#{link_to("Home", root_url)} &raquo; About us &raquo; Meet us"%>

<% @about = AboutU.find(:first, :conditions => {:link_type => "meet us"} ) %>
<div class="help-container">
  <% if @about %>
  <div class="green-heading-with-border"><%= @about.title.html_safe if @about %></div>
  <div class="terms-text bottom-50"><%= @about.description.html_safe if @about %></div>
  <% else %>
  <div class="terms-text bottom-50">Coming soon...</div>
  <% end %>
</div>


