<% @title = "Italian food and wine supplier"; @description = "Corporate services, corporate gifts in the UK"; @keys = "corporate services, corporate gifts, corporate hampers" %>
<% @class = "about-us no-padding" %>
<% @breadcrumbs = "#{link_to("Home", root_url)} &raquo; About us &raquo; supplier " %>

<!-- div id="header"><strong>Italyabroad.com</strong>-Supplier</div -->
<div class="hep-container">
  <% @about = AboutU.find(:first, :conditions => {:link_type => "supplier"} ) %>
    <% if @about %>
      <div class="green-heading-with-border"><%= @about.title.html_safe if @about %></div>
      <div class="terms-text bottom-50"><%= @about.description.html_safe if @about %></div>
    <% else %>
    <div class="terms-text bottom-50">Coming soon...</div>
  <% end %>
</div>