<table>
  <tr>
    <td valign="top">Name:</td>
    <td><%= text_field :gift_option, :name %></td>
  </tr>
  <tr>
    <td valign="top">Description:</td>
    <td><%= text_area :gift_option, :description %></td>
  </tr>
  <tr>
    <td valign="top">Price:</td>
    <td><%= text_field :gift_option, :price %></td>
  </tr>
  <tr>
    <td valign="top">Default:</td>
    <td><%= check_box :gift_option, :is_default %></td>
  </tr>
</table>