 <% form_tag '/messages/send_message' do |f| %>
    <%= text_area_tag  :name,'', :size => "87x5" %>
    <%= hidden_field_tag :user_id,@message.send_by_id %>
    <%= hidden_field_tag :send_by_id,current_user.id %>
    <p style="text-align:right;">

    <%= image_submit_tag("buttons/submit.png") %></p>
<% end %>

