<%- @title = "Messages"; @class = "no-padding" -%>
<%- @breadcrumbs = "#{link_to "Home", root_url, :title=>"Home"} &raquo;Messages" -%>

<%= render :partial => 'site/shared/box_login' %>
<div class="full-width">
	<div class="green-heading-with-border">
		Messages
	</div>

<% if @messages.size > 0 %>
<div class="digg_pagination pagination-2 clearfix">
	<div class="page_info show-result">
	  <%= page_entries_info @messages %>
	</div>
	<div class="pagination-links">
	  <%= will_paginate @messages, :container => false %>
	</div>
</div>

<ul style="padding:0;list-style:none;" id="my_reviews_list">
   <%= render :partial => 'message', :collection => @messages %>
</ul>
<% else %>
<div style="height:300px;margin-left:10px;">
<h4>You have no messages</h4>
</div>
<% end %>


</div>