

<div class="left-small-box" id="box_popular_tags">
  <%- @popular_tags = PostsTag.popular_tags -%>
  <%  pmin = 70 # Minimum font size
  index = 1
  pmax = 150 #Maximum font size
  vmin = 1000000000000 #Super large number to init min
  vmax = -1000000000000 #Super small number to init max
  for tag in @popular_tags

    vmin = tag.popularity.to_f if (tag.popularity.to_f < vmin)
    vmax = tag.popularity.to_f if (tag.popularity.to_f > vmax)
  end  %>
  <h2 class="sidebar-box-heading">Tag Cloud</h2>
  <div>
    <% @popular_tags.each do |result| %>
    <%result.popularity%>
    <span style="font-size:<%= ((pmax - pmin) * (Math.log(vmax)==0 ? 0 : (Math.log(result.popularity.to_f)) / (Math.log(vmax))) + pmin).to_s %>%">
    <%= link_to result.tag.name.titleize, {:controller=>'blog',:action=>"index",:tag_id=>result.tag.id}, :title=>result.tag.name.titleize %>
    </span>
    <% if index != @popular_tags.count %>
      ,
    <% end %>

    <% index = index + 1 end %>
  </div>
</div>