<%- comments = Comment.latest-%>
<% if comments.size > 0 %>
  <div class="block" id="box_latest_blog_comments">
    <h1 style="text-align:center;">Italian wine and food |Award winning wine merchant<!-- Latest blog comments --></h1>
    <ul>
      <%- comments.each do |comment| -%>
      <li>
        <table>
          <tr>
            <td style="width:55px;text-align:center;" valign="top">
              <%= avatar_for_user(comment.user, 'small') %>
              <div style="width:50px;"><%= comment.name %></div>
            <br /></td>
            <td valign="top"><%= comment.description %></td>
          </tr>
        </table>
      </li>
      <%- end -%>
    </ul>
  </div>
<% end %>

