<%- posts = Post.most_read -%>
<div class="left-small-box">
	<div class="sidebar-box-heading"><%= "Favourite" %></div>
	<div class="favourite">
	  <ol>
	  	<%- posts.each do |post| -%>
	    	<li><%= link_to post.name, site_blog_path(post.id),:class=>'data', :title=>post.name %></li>
	    <%- end -%>
	  </ol>
	</div>
</div>
