<div id="box_popular_tags" class="block">
  <%- @popular_tags = PostsTag.popular_tags -%>
  <%  pmin = 70 # Minimum font size
  index = 1
  pmax = 150 #Maximum font size
  vmin = 1000000000000 #Super large number to init min
  vmax = -1000000000000 #Super small number to init max
  for tag in @popular_tags
    vmin = tag.popularity.to_f if (tag.popularity.to_f < vmin)
    vmax = tag.popularity.to_f if (tag.popularity.to_f > vmax)
  end  %>
  <h1 style="text-align:center;">Popular Tags</h1>
  <br />
  <% @popular_tags.each do |result| %>
    <span style="font-size:<%= ((pmax - pmin) * (Math.log(result.popularity.to_f)) / (Math.log(vmax)) + pmin).to_s %>%"><%#= link_to result.tag.name.titleize, "blog/tag/#{result.tag.name}", :style => "color:#454545;" %>
    <%# post = Post.find_by_id(result.post_id)%>
    <%#= link_to result.tag.name.titleize, post.friendly_identifier.blank? ? "/blog/#{post.id}" : "/blog/#{post.friendly_identifier}" %>
    <%= link_to result.tag.name.titleize, :controller=>'blog',:action=>"index",:tag_id=>result.tag.id %>
    <!--, :style => "color:#454545;"-->
    </span>
    <% if index != @popular_tags.count %>
      ,
    <% end %>

    <% index = index + 1 end %>
</div>

