<% @title = "Complete Order" %>
<%- @breadcrumbs = "#{link_to "Home", root_url} &raquo; Checkout &raquo; Complete Order" -%>
<% @class = "no-padding" %>
<!--Response - <%#= session[:response] %><br />
Success or failure - <%#= session[:response_success] %>
Response Params is <%#= session[:response_params] %>-->

<div id="header">Your Order is Complete!</div>
<!--<div style="text-align:center;margin-top:40px;"><%#= image_tag("cart_step_4.png") %></div> -->
<%#= render :partial => 'site/shared/box_cart_form' %>
 <p style="margin: 10px 20px">
  Your Order has been successfully received by our processing team!
  </p>
<div style="margin: 10px 20px;background-color:#E8E8E8;height:30px;padding-top:14px;">
<strong>Order Details</strong>
</div>

<p style="margin: 10px 20px;">
Order Reference : <strong><%= @order.id %></strong><br /><br />
Total order Value : <strong><%= number_to_currency (@order.total - (@order.points_used * Setting.find(:first).points_to_pound), :unit => "&pound;") %></strong><br /><br />
You will shortly receive an order acknowledgement by email.
<p>

  <p style="margin: 10px 20px;font-weight:bold;">
  Thank you for shopping at Italyabroad.com
  </p>


<%- content_for :right do -%>
  <%= render :partial => 'site/shared/box_subscriptions' %>
<%- end -%>

