<!-- Dear <%#= @user.name %> <%#= @user.surname %>,

Thank you for activating your account, you can now login and enjoy the finest Italian food and wine.

Please keep this email for your records. Your account information:

login details:

	USER: <%#= @user.login %>
	PASSWORD: <%#= @user.password_clean %>

http://www.italyabroad.com

---------------------------------------------------
The Italyabroad.com Team
 -->


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta name="viewport" content="width=device-width" /><!-- IMPORTANT -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Account Created</title>
	
<!-- <link rel="stylesheet" type="text/css" href="stylesheets/email.css" /> -->


</head>
 
<body bgcolor="#FFFFFF">

<!-- HEADER -->
<table class="head-wrap" bgcolor="">
	<tr>
		<td></td>
		<td class="header container">
			
				<div class="content">
					<table bgcolor="">
						<tr>
							<td>
								<a href="#account" />
								<%#=image_tag "logo.png", style: "width:70px;height:auto;" %>
								<img src="https://www.italyabroad.com/assets/xlogo_hi_res-72655d267a58597692c2d87c20945929.gif.pagespeed.ic.Q7438Z1QqK.png" style="width:70px;height:auto;" /></a>
							</td>
							<td align="right">
								<h6 class="collapse">Activate Your Account</h6>	
							</td>
						</tr>
					</table>
				</div>
				
		</td>
		<td></td>
	</tr>
</table><!-- /HEADER -->


<!-- BODY -->
<table class="body-wrap">
	<tr>
		<td></td>
		<td class="container" bgcolor="#FFFFFF">

			<div class="content">
			<table>
				<tr>
					<td>
						<br/>
						<h3>Dear <%= @user.name %> <%= @user.surname %>,</h3>
						
						<!-- You may like to include a Hero Image -->
						<!-- <p><img src="http://placekitten.com/g/600/300" alt="" /></p> -->
						<!-- /Hero Image -->
						
						<br/>
						
						<p>Thank you for activating your account, you can now login and enjoy the finest Italian food and wine.</p>
						
						<p>Please keep this email for your records. Your account information:</p>

						<br>
						
						<p style="text-align:center;">
							<a class="" href="#account">login details: &raquo; <br>
								USER: <%= @user.login %> 
								<br>
							    PASSWORD: <%= @user.password_clean %>
							</a>
							
						</p>

					<!-- </td> -->
				</tr>
			</table>
			</div>
									
		</td>
		<td></td>
	</tr>
</table>


<!-- /BODY -->



</body>
</html>