

<!-- Thank you for subscribing to our newsletter. You will now receive the latest news and offers from Italyabroad.com at 
<%= @email %> 

----------------------------------
You can unsubscribe at any time by clicking here <%= @url %> -->





<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta name="viewport" content="width=device-width" /><!-- IMPORTANT -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	
<!-- <link rel="stylesheet" type="text/css" href="stylesheets/email.css" /> -->


</head>
 
<body bgcolor="#FFFFFF">

<!-- HEADER -->
<table class="head-wrap" bgcolor="">
	<tr>
		<td></td>
		<td class="header container">
			
				<div class="content">
					<table bgcolor="">
						<tr>
							<td>
								<a href="#account" />
								<%#=image_tag "logo.png", style: "width:70px;height:auto;" %>
								<img src="https://www.italyabroad.com/assets/xlogo_hi_res-72655d267a58597692c2d87c20945929.gif.pagespeed.ic.Q7438Z1QqK.png" style="width:70px;height:auto;" /></a>
							</td>
							<td align="right">
								<h6 class="collapse"></h6>	
							</td>
						</tr>
					</table>
				</div>
				
		</td>
		<td></td>
	</tr>
</table><!-- /HEADER -->


<!-- BODY -->
<table class="body-wrap">
	<tr>
		<td></td>
		<td class="container" bgcolor="#FFFFFF">

			<div class="content">
			<table>
				<tr>
					<td>
						<br/>
						<h3>Hi</h3>

						<p>Thank you for subscribing to our newsletter. You will now receive the latest news and offers from Italyabroad.com at </p>
						<p><%= @email %> 
						</p>

					
						<p style="text-align:center;">
							<a class="" href="<%= @url %>">You can unsubscribe at any time by clicking here: &raquo;
							</a>
							
						</p>
						


					<!-- </td> -->
				</tr>
			</table>
			</div>
									
		</td>
		<td></td>
	</tr>
</table>


<!-- /BODY -->



</body>
</html>