
<% @title = "Type your question" %>
<%#- @breadcrumbs = "Home &raquo; #{link_to "Faqs", faqs_path} &raquo; #{@title}" -%>
<div class="inner_content posts">
  <div class="green-heading-with-border"><%= @title %></div>
  <div class="row clearfix">
    <div class="col-md-5 ">
      <%= form_for :faq, :url => site_faqs_path  do %>
        <%= render :partial => "form" %>
        <div class="faq-btn">
          <div class="green-button"><%=link_to 'Submit' , '#.' , :class=>'submit_faq' %> </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('.submit_faq').click(function(){
    $(this).parents('form:first').submit();
  });
</script>

