<% @title = "Ask a Question" %>
<%- @breadcrumbs = "Home &raquo; #{link_to "Faqs", faqs_path} &raquo; #{@title}" -%>

<div class="inner_content posts">
  <h2><%= @title %></h2>
  <br />
  <% form_for :faq, :url =>faqs_path do %>

  	<%= render :partial => "form" %>
  	<p><%= submit_tag "Save" %> or <%= link_to "Cancel", faqs_path %></p>
  <% end %>
</div>

