<h2>Create New Wine Size</h2>
<%= form_for @wine_size, :url => "/admin/wine_sizes", :html => {:method => :post} do |f| %>
<%= render :partial => 'form', :locals => {:f => f } %>
<% end %>

<p><%= link_to "Back to List", admin_wine_sizes_path %></p>
