<h2>Create New Desired Expenditure</h2>
<%= form_for @desired_expenditure, :url => "/admin/desired_expenditures", :html => {:method => :post} do |f| %>
    <%= render :partial => 'form', :locals => {:f => f } %>
<% end %>

<p><%= link_to "Back to List", admin_sommeliers_path %></p>