<table>
  <tr>
    <td>Name</td>
    <td><%= text_field :producer, :name %></td>
  </tr>
  <tr>
    <td valign="top">Description</td>
    <td><%= text_area :producer, :description %></td>
  </tr>
  <tr>
    <td>Region</td>
    <td><%= select :producer, :region_id, Region.all.inject([["No region", ""]]) { |rs, r| rs << [r.name, r.id] } %></td>
  </tr>
  <tr>
    <td valign="top">Grapes</td>
    <td><%= select :producer, :grape_ids, Grape.all.collect { |g| [g.name, g.id] }, {}, :multiple => true %></td>
  </tr>
</table>