<% for order in @orders %>


		<% for order_item in order.order_items %>
		<% unless order_item.product_id.nil? %>
            <tr class="list_plain %> order-table">
              <% product = Product.find(order_item.product_id) %>
  						<td style="text-align:left;width:400px;"><%=order_item.name%></td>

  						<td><td style="text-align:left">
              	<% if order_item.reviewed == false %>
              <%#= link_to "Write Review",
               :update =>"write_review#{product.id}" , :remote => true,
                        :url => {:controller=>'site/orders', :action => "write_review", :id => product.id,:order_id=>order.id}%>
              <div class="green-button"><%= link_to "Write Review", nested_products_uri(product) %></div>
            <% end %>
  						</td>

  						<tr><td>
              <div id="write_review<%=product.id%>"></div></td></tr>

          </tr>
  				<% end %>
          <% end %>


<% end %>