<% @title = "Your recent orders" %>
<%- @breadcrumbs = "#{link_to "Home", root_url, :title=>"Home"} &raquo; My Orders and Tracking" -%>
<% @class = "no-padding" %>
<% total_points = current_user.find_total_points(current_user)
total_points_used = current_user.orders.sum('points_used')
    %>
<%= render :partial => 'site/shared/box_login' %>
<div class="full-width">
	<div class="green-heading-with-border"><h1>Your recent orders</h1>
	<span class="red-text"><% if total_points - total_points_used > 0 %>  (You have <%= (total_points - total_points_used).to_i %> points in your credit.  This is equivalent to <%= number_to_currency(((total_points - total_points_used) * Setting.find(:first).points_to_pound.to_f), :unit => "£") %>)
	  <% end %></span>
	</div>
	<table width="99%" align="center" class="bottom-50"  style="text-align:center;" cellspacing="0" cellpadding="0" border="0">
		<tr>
		  <td><strong>Order No.</strong></td>
		  <td><strong>Sub Total</strong></td>
		  <td><strong>Order Placed</strong></td>
		  <td><strong>Last Action</strong></td>
		  <td><strong></strong></td>
		  <td>&nbsp;</td>
		</tr>
		<%= render :partial => 'order', :collection => @orders %>
	</table>
	
</div>

