<script>
function validate_review(){
 if (document.getElementById('name').value == ""){

 alert("Title must be filled out");
 return false;

 }
if (document.getElementById('description').value == ""){
alert("Description must be filled out");
 return false;

}


}
</script>
<% @title = "Your recent orders" %>
<%- @breadcrumbs = "#{link_to "Home", root_url} &raquo; My Orders and Tracking" -%>
<% @class = "no-padding" %>

<div id="header"><%= render :partial => 'site/shared/box_login' %></div>
<%= flash[:notice] %>
<div class="account-title green-heading-with-border">Your recent orders</div>
<br />
<table width="99%" align="center" class="bottom-50" style="text-align:center;" cellspacing="0" cellpadding="0" border="0">
	<tr>
	  <td align="left"><!-- Products</strong --></td>

		</tr>
	<%= render :partial => 'review_order'%>
</table>


