#chat_data {
    height: 385px;
    margin-left: 2px;
    overflow: auto;
    color: black;
    border-style:inset;
    background-color: white;
    font:normal 13.5px Arial;
    padding-left:5px;
    list-style:none
}

.flash{
    color:red;
}

.time {font:normal 13px arial;}

.support_name{font:bold 14px Arial;color:#000;}
.support_chat_data{font:14px Arial;color:blue;}
.support_chat_error{ont:bold 14px Arial;color:red;}


.reply_link{
    color:blue;
}

.chat_user_name{font:bold 14px Arial;color:#000;}
.chat_user_data{14px Arial;color:#2e2e2d;}

