@charset "utf-8";
/* CSS Document */

@font-face{
	font-family:BerlinSans;
	src:url(../fonts/Berlin-Sans-FB-Regular.ttf);
}
@font-face{
	font-family:CenturyGothic;
	src:url(../fonts/century-gothic.ttf);
}
@font-face{
	font-family:centurygothicbold;
	src:url(../fonts/centurygothicbold.ttf);
}
@font-face{
	font-family:engraversMt;
	src:url(../fonts/engravers-mt.ttf);
}
@font-face{
	font-family:TrajanProRegular;
	src:url(../fonts/TrajanPro-Regular.ttf);
}
@font-face{
	font-family:TrajanProBold;
	src:url(../fonts/TrajanProBold.ttf);
}
@font-face{
	font-family:FranklinGothicHeavyRegular;
	src:url(../fonts/FranklinGothicHeavyRegular.ttf);
}
@font-face{
	font-family:bellMtBold;
	src:url(../fonts/bell-mt-bold.ttf);
}
body{
	font-family: CenturyGothic;
	color: #3b3b3b;
	font-size: 14px;
}
.container{
	width: 100%;
	padding:0px;
	margin: 0px auto;
	max-width: 1920px;
	overflow: hidden;
}
img{
	max-width: 100%;
}
.main-banner{
	text-align: center;
	background: url(../landing-img/landing-banner.png) no-repeat;
	background-size: cover;
}
.enter-site-row{
	padding-right: 0%;
	padding-top: 25px;
	text-align: right;
}
.enter-button1{
	display: inline-block;
	text-align: center;
	margin-left: 12px;
	max-width: 145px;
	min-width: 140px;
	width: 16.4%;
}
.enter-button2{
	display: inline-block;
	text-align: center;
	margin-left: 12px;
	min-width: 75px;
	width: 7.8%;
	max-width: 75px;
}
.landing-header{
	position: relative;
}
.top-content{
	width: 98%;
}
.welcome-board{
	margin-top: 70px;
}
.welcome-bg{
	background: #fff;
	border-radius: 10px;
	padding: 40px 20px 15px;
	margin-bottom: 155px;
}
.green-heading{
	font-size: 24px;
	font-weight: bold;
	color: #287f0d;
	margin-bottom: 25px;
}
.welcome-text{
	text-align: left;
}
.welcome-text p{
	margin-bottom: 20px;
	font-size: 16px;
	color: #000;
}
.welcome-btn{
	text-align: left;
	margin-top: 35px;
}
.welcome-btn img{
	max-width: 285px;
}
.welcome-logo{
	text-align: right;
	margin-top: 12px;
}
.welcome-logo img{
	max-width: 240px;
}
.bottom-content{
	margin: 60px auto 40px;
	width: 84%;
	/*min-width: 1100px;*/
	max-width: 1600px;
}
.text-box{
	font-size: 16px;
	/*margin-top: 40px;*/
}
.text-box p{
	margin-bottom: 40px;
}
.image-box{
	text-align: center;
}
.border-box{
	border:solid 1px #b7b7b7;
	padding: 40px 20px;
	margin-bottom: 40px;
}
.heading-with-border{
	text-align: center;
	color: #5e5e5e;
	font-size: 60px;
	margin-bottom: 40px;
}
.heading-with-border h2{
	text-align: center;
	display: inline-block;
	padding-bottom: 15px;
	border-bottom: solid 4px #4eac31;
	font-weight: bold;
}
.main-heading{
	text-align: center;
	color: #5e5e5e;
	font-size: 40px;
	padding-bottom: 40px;
	font-weight: bold;
	padding-top: 50px;
	font-family: centurygothicbold;
}
.main-heading b{
	color: #287f0d;
	font-family: centurygothicbold;
}
.main-heading2{
	text-align: center;
	color: #5e5e5e;
	font-size: 40px;
	padding-bottom: 50px;
	font-weight: bold;
	padding-top: 40px;
	font-family:centurygothicbold;
}
.main-heading2 b{
	color: #287f0d;
	font-family: centurygothicbold;
}
.content-box1{
	text-align: center;
	font-size: 18px;
	width: 80%;
	margin: auto;
	color: #5c5c5c;
	padding-bottom: 20px;
	font-weight: normal;
}
.content-box1 b{
	color: #5e5e5e;
	font-size: 20px;
	font-family: centurygothicbold;
}
.content-box1 p{
	padding-bottom: 30px;
}
.content-box1 i{
	font-size: 22px;
}
.content-box2{
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	font-style: italic;
	width: 80%;
	margin: auto;
	color: #5c5c5c;
	padding-bottom: 10px;
	font-family: centurygothicbold;
}
.name{
	font-size: 18px;
	font-weight: bold;
	font-family: centurygothicbold;
	color: #000;
	font-style: normal;
	padding-bottom: 50px;
}
.promise{
	padding: 10px 0px 60px;
	text-align: center;
	font-size: 26px;
	width: 80%;
	margin: auto;
	color: #5c5c5c;
	font-family: centurygothicbold;
}
.three-column{
	width: 86%;
	margin: auto;
	text-align: center;
}
.three-column .col-md-4{
	margin-bottom: 20px;
}
.col-icon{
	padding-bottom: 10px;
}
.col-title{
	font-size: 20px;
	color: #000;
	font-family: centurygothicbold;	
	padding-bottom: 25px;
	min-height: 75px;
	width: 90%;
}
.col-des{
	font-size: 16px;
}
.col-des b{
	color: #000;
	font-family: centurygothicbold;
}
.get-start{
	text-align: center;
	padding: 80px 0px 30px;	
}
.get-start img{
	max-width: 250px;
}
@media only screen and (max-width: 1101px){
	.bottom-content, .three-column{
		width: 96%;
		max-width: 96%;
		min-width: 96%;
	}
}
@media only screen and (min-width: 1260px){
	.welcome-bg{
		margin-bottom: 140px;
	}
}
@media only screen and (min-width: 1400px){
	.welcome-bg{
		margin-bottom: 230px;
	}
}
@media only screen and (max-width: 767px){
	.welcome-btn img, .welcome-logo img{
		width: 70%;
	}
}
