/* Root = Horizontal, Secondary = Vertical */
ul.nav1 {
  margin: 0 auto;
  border: 0 none;
  padding: 0;
  /*width: 650px;*/ /*For KHTML*/
  list-style: none;
  z-index:60;
}

ul.nav1 li {
/*  float:left;*/
  display:inline;
  padding:0 5px 0 10px;
  margin:0;
  border-left:1px solid #C5D1C5;
  position:relative;
  list-style:none;
}

ul.nav1 li.first {
  padding-left:0;
  border-left:none;
}

ul.nav1 li.last {
  border-right:1px solid #C5D1C5;
  padding-right:10px;
}

ul.nav1 a {
  color:#030;
  font-size:18px;
}

ul.nav1 li.active a,
ul.nav1 a:hover {
  color:#721041;
}

ul.nav1 ul {
  margin: 0;
  padding: 0;
  width: 160px;
  list-style: none;
  display: none;
  position: absolute;
  top: 19px;
  left: -1px;
  z-index:999;
  background-color:white;
  border-left:1px solid #ccc;
  border-bottom:1px solid #ccc;
  border-right:1px solid #ccc;
}

ul.nav1 ul:after /*From IE 7 lack of compliance*/{
  clear: both;
  display: block;
  font: 1px/0px serif;
  content: ".";
  height: 0;
  visibility: hidden;
/*  border: 0 none;*/
}

ul.nav1 ul li {
  width: 160px;
  float: left; /*For IE 7 lack of compliance*/
  display: block !important;
  display: inline; /*For IE*/
  border: 0 none;
}

ul.nav1 ul li:hover {
  width:145px;
}

/* Root Menu */
/*ul.nav1 a {
  padding: 0 10px;
  float: none !important; For Opera*
  float: left; For IE
  display: block;
  color: #FFF;
  font: bold 13px/25px Verdana;
  text-decoration: none;
  height: auto !important;
  height: 1%; For IE
  border: 0px none;
}
*/

/* Root Menu Hover Persistence */
ul.nav1 a:hover,
ul.nav1 li:hover a,
ul.nav1 li.iehover a {
/*  color: #EAF1B6;*/
  border: 0px none;
}

/* 2nd Menu */
ul.nav1 li:hover li a,
ul.nav1 li.iehover li a {
  float: none;
	text-align:left;
  background-color:white;
	color: #333;
	border:none;;
	line-height:26px;
	font-size:12px;
}

/* 2nd Menu Hover Persistence */
ul.nav1 li:hover li a:hover,
ul.nav1 li:hover li:hover a,
ul.nav1 li.iehover li a:hover,
ul.nav1 li.iehover li.iehover a {
/*  background-color: black;*/
  color:#083300;
/*  font-weight:bold;*/
  border-bottom:1px solid black;
}

/* 3rd Menu */
ul#navmenu li:hover li:hover li a,
ul#navmenu li.iehover li.iehover li a {
  background-color: #c1d830;
  border: 0 none;
}

/* 3rd Menu Hover Persistence */
ul#navmenu li:hover li:hover li a:hover,
ul#navmenu li:hover li:hover li:hover a,
ul#navmenu li.iehover li.iehover li a:hover,
ul#navmenu li.iehover li.iehover li.iehover a {
  background-color: #c1d830;
  border: 0 none;
}

/* 4th Menu */
ul#navmenu li:hover li:hover li:hover li a,
ul#navmenu li.iehover li.iehover li.iehover li a {
  background-color: #c1d830;
  border: 0 none;
}

/* 4th Menu Hover */
ul#navmenu li:hover li:hover li:hover li a:hover,
ul#navmenu li.iehover li.iehover li.iehover li a:hover {
  background-color: #c1d830;
  border: 0 none;
}

ul.nav1 ul ul,
ul.nav1 ul ul ul {
  display: none;
  position: absolute;
  top: 0;
  left: 160px;
  border: 0px none;
}

/* Do Not Move - Must Come Before display:block for Gecko */
ul.nav1 li:hover ul ul,
ul.nav1 li:hover ul ul ul,
ul.nav1 li.iehover ul ul,
ul.nav1 li.iehover ul ul ul {
  display: none;
/*  border: 0 none;*/
}

ul.nav1 li:hover ul,
ul.nav1 ul li:hover ul,
ul.nav1 ul ul li:hover ul,
ul.nav1 li.iehover ul,
ul.nav1 ul li.iehover ul,
ul.nav1 ul ul li.iehover ul {
  display: block;
/*  border: 0 none;*/
}    