<% products = [] %>
<% unless @category.all_products_ids.blank? %>
  <% condition = "rating = 5 AND active = true" %>
  <% condition += " AND id IN (#{@category.all_products_ids.join(',')})" unless @category.all_products_ids.blank? %>
  <% abort @category.all_products_ids.inspect %>
  <% products = Product.find(:all, :limit => 5, :order => "RAND()", :conditions => condition) %>
<% end %>
<% unless products.blank? %>
    <div id="topSellingWine">
      <%=
          category_name = products.first.categories.detect{|category| ["Wine", "Food", "Hampers", "Wine Tours", "Other Drinks"].include?(category.name)}.name
          case category_name
            when "Wine"
              image_tag("topSellingWine.png")
            when "Food"
              image_tag("topSellingFood.png")
            when "Hampers"
              # image_tag("topSellingHampers.png")
              image_tag("topSellingWine.png")
            when "Wine Tours"
            when "Other Drinks"
              image_tag("topSellingWine.png")
            else
              "Andrea recommends"
          end
      %>
      <ul>
        <%- products.each do |product| -%>
            <li><%= link_to product.name, nested_products_uri(product) if product.categories.root.present? && (product.categories.root.name.upcase != 'WINE TOURS') %></li>
        <%- end -%>
      </ul>
    </div>
<% end %>

<% products = [] 
# abort @category.all_products_ids.inspect
%>
<% unless @category.all_products_ids.blank? %>
<% condition = "raccomanded = true AND active = true" %>
<% condition += " AND id IN (#{@category.all_products_ids.join(',')})" unless @category.all_products_ids.blank? %>
<% products = Product.find(:all, :limit => 5, :order => "RAND()", :conditions => condition) %>
<% end %>
<% unless products.blank? %>
    <div id="andreasWine">
      <%=
          case @category.name
            when "Wine"
              image_tag("andreasWine.png")
            when "Food"
              image_tag("deliChoise.png")
            when "Hampers"
              image_tag("hamperChoice.png")
            when "Wine Tours"
            when "Other Drinks"
              "<b>Phillipe's recommendations</b>".html_safe
            else
              "Andrea recommends"
          end
      %>
      <ul>
        <%- products.each do |product| -%>
            <li><%= link_to product.name, nested_products_uri(product) if product.categories.root.present? && product.categories.root.name.upcase != 'WINE TOURS'%></li>
        <%- end -%>
      </ul>
    </div>
<% end %>

