<% products = [] %>
<% unless @category.all_products_ids.blank? %>
  <% condition = "rating = 5 AND active = true" %>
  <% condition += " AND id IN (#{@category.all_products_ids.join(',')})" unless @category.all_products_ids.blank? %>
  <% products = Product.find(:all, :limit => 3, :order => "RAND()",  :conditions => condition) %>
<% end %>
<% unless products.blank? %>
  <div id="topSellingWine">
    <%= category_name = products.first.categories.detect{|category| ["Wine", "Food", "Hampers", "Wine Tours", "Other Drinks"].include?(category.name)}.name
        case category_name
          when "Wine"
            # image_tag("topSellingWine.png")
            content_tag(:h2, "Most Popular", class: ["green-heading-with-border"])
          when "Food"
            #image_tag("topSellingFood.png")
            content_tag(:h2, "Most Popular", class: ["green-heading-with-border"])
          when "Hampers"
            # image_tag("topSellingHampers.png")
            #image_tag("topSellingWine.png")
            content_tag(:h2, "Most Popular", class: ["green-heading-with-border"])
          when "Wine Tours"
          when "Other Drinks"
            #image_tag("most_popular_other_drinks.png")
            content_tag(:h2, "Most Popular", class: ["green-heading-with-border"])
          else
            content_tag(:h2, "Our Recommendations", class: ["green-heading-with-border"])
            #"Andrea recommends"
        end
    %>

    <div class="product-list bottom-30">
      <%= render partial: '/site/shared/category_box', locals: {products: products, template_name: " "}%>
    </div>
  </div>
<% end %>

<% products = [] 
# abort @category.all_products_ids.inspect
%>
<% unless @category.all_products_ids.blank? %>
  <% condition = "raccomanded = true AND active = true" %>
  <% condition += " AND id IN (#{@category.all_products_ids.join(',')})" unless @category.all_products_ids.blank? %>
  <% products = Product.find(:all, :limit => 3, :order => "RAND()", :conditions => condition) %>
<% end %>
<% unless products.blank? %>
  <div id="andreasWine">
    <%=
      case @category.name
        when "Wine"
          #image_tag("andreasWine.png")
          content_tag(:h2, "Our Recommendations", class: ["green-heading-with-border"])
        when "Food"
          #image_tag("deliChoise.png")
          content_tag(:h2, "Our Recommendations", class: ["green-heading-with-border"])
        when "Hampers"
          #image_tag("hamperChoice.png")
          content_tag(:h2, "Our Recommendations", class: ["green-heading-with-border"])
        when "Wine Tours"
        when "Other Drinks"
          #image_tag("recommendations_other_drinks.png")
          content_tag(:h2, "Our Recommendations", class: ["green-heading-with-border"])
        else
          #"Andrea recommends"
          content_tag(:h2, "Our Recommendations", class: ["green-heading-with-border"])
      end
    %>
    <div class="product-list bottom-30">
      <%= render partial: '/site/shared/category_box', locals: {products: products, template_name: " "}%>
    </div>
  </div>
<% end %>