<%- @breadcrumbs = "#{link_to("Home", root_url)} &raquo; #{link_to("Food", '/food')}" -%>
<% if @category.image_link
link = @category.image_link
else
link = site_search_index_path(:id=>@category)
end

%>
<% if @category.image && !@category.image_url.blank? %>
  <div id="wineBanner" class="main-banner">
     <span class="title_wine_tours">
    <%#= @category.text_on_image %>
    </span>
	  <%= link_to(image_tag(site_image_url('home_image', @category.image, :format => :jpg), :alt => @category.name), link) %>
	</div>
<% else %>
  <div id="wineBanner">
	  <%= link_to image_tag("food.png", :title => @category.name), link %>
	</div>
<% end %>
<div class="row">
  <div class="two-colum-row clearfix">
    <div class="col-md-3 left-side-bar"><%= render :partial => '/site/shared/box_food_search' %></div>
    <%= render :partial => '/site/templates/landing' %>
