<%- @breadcrumbs = "#{link_to("Home", root_url, :title=>"Home")} &raquo; #{link_to("Wine", '/wine', :title=>"Wine")}" -%>
<% if @category.image_link
link = @category.image_link
else
link = search_index_path(:id=>@category)
end
%>
<% if @category.image 
  # && !@category.image_url.blank? 
  %>
  <div id="wineBanner" class="main-banner">
   <span class="title_wine_tours">
    <%#= @category.text_on_image %>
    </span>
	<%= link_to image_tag(image_url('home_image', @category.image, :jpg),:alt=>@category.name, :title=>@category.name), link, :title=>"Wine" %>
	</div>
<% else %>
  <div id="wineBanner" class="main-banner">
	<%= link_to image_tag("flashContent.jpg",:alt=>@category.name, :title=>@category.name), link, :title=>"Wine" %>
	</div>
<% end %>
<!-- start category content-->
<div class="row">
  <div class="two-colum-row clearfix">
    <div class="col-md-3 left-side-bar sm-bottom-30"><%= render :partial => '/site/shared/box_wine_search' %></div>
    <%= render :partial => '/site/templates/landing' %>
  
