<div>
  	<table border="0" cellspacing="5" cellpadding="5">
  	  <tr>
  	    <td style="width:100px;text-align:right">Occasion Name:</td>
  	    <td><%= text_field  :occasion, :name %></td>
      </tr>
  	</table>
</div>

