<% @title = "New Post"; @page_id = "Blog" %>
<%- @breadcrumbs = "Blog &raquo; #{link_to "Posts", admin_posts_path} &raquo; #{@title}" -%>

<div class="inner_content posts" id="admin_posts_new">
  <h2><%= @title %></h2>
  <br />
  <% form_for :post, :url => admin_posts_path, :html => {:multipart => true} do %>
  	<%= render :partial => "form" %>
  	<p><%= submit_tag "Save" %> or <%= link_to "Cancel", admin_posts_path %></p>
  <% end %>
</div>