<div class="block" id="box_book_a_table">
  <h1>Italian wine and food Online | Award winning wine merchant<!-- What our customers say --></h1>
  <div>
    The wines you have supplied have never failed to please, I dont have a clue about what grapes or where they come from, but i know that I enjoy them. 
    <br/><br/>
    <%= link_to "(View All ...)", :action => "testimonial" %>
    <br/><br/>
    Thanks Again, R. Patterson.
  </div>
</div>		