<div class="col-md-4">
	<div class="small-box">
		<div class="block clean" id="box_grape_guide">
			<%= link_to image_tag("wineGuide.jpg",:alt=>'Grape Guide',:title=>'Grape Guide'), grape_guide_path %>
		</div>
	</div>
</div>