<div class="block" id="box_contact">
	<h1>Where we are</h1>
	<b>Italyabroad.com</b>
	<br /><br />
	Company no 4962185<br /><br />
	Oak Mill<br />
	Topcliffe Lane<br />
	Morley<br />
	Leeds<br />
	LS27 0HL<br />
	Tel  08452 69 4324<br />
	(+44 113 252 4271 outside UK)<br />
	Fax  +44 0113 252 6788<br />
	E-Mail: <%= mail_to "info@italyabroad.com" %>
</div>