<% products = Product.find(:all, :limit => 2, :include => {:categorizations => :category}, :conditions => ["categories.name LIKE ? AND DATE(date) > ?" ,'Wine Tours',Date.today],:order=>'date') %>
<% unless products.blank? %>
<div class="block" id="box_upcoming_wine_tours">
  <h1 style="color:#9b0707;"><%= "Upcoming Tours" %></h1>
  <ul>
    <%- products.each do |product| -%>
    <li style="margin-bottom:10px;">
      <span id = "upcomming_tours_date"><%= product.date.strftime("%d %B %Y") if product.date %><br /></span>
  	  <%= link_to product.name, nested_products_uri(product), :style => "font-size:14px;" %><br />

    </li>
    <%- end -%>
  </ul>
</div>
<% end %>

