<div class="block" id="topTextBox" style= "display:block;">
  <table>
    <tr>
      <td>
        <table>
          <tr>
            <td colspan="2" style="height: 0px;">
              <h3 style="padding-bottom: 0; margin-bottom: 3px;">Our manifesto</h3>
            </td>
          </tr>
          <tr>
            <td class="banner" style="margin-top: -5px; font-size: 12px;">
              <% @about = AboutU.find(:first, :conditions => {:link_type => "pricipal and philosophy"} ) %>
              <%= @about.description.html_safe  %><br /><div class="fRight" style="color: #ff0000;"><%= link_to "read more", "/our-principles"-%></div>
            </td>
            </tr>
        </table>
      </td>
    </tr>
  </table>
</div>

