<div class="block" id="box_cart">
	<h1>Italian wine and food Online | Award winning wine merchant<!-- Shopping cart --></h1>
	<div id="cart_items">
		<%= render :partial => '/site/shared/cart' %>
	</div>	
</div>