<div class="block" id="box_suggested_wines">
  <h3>Suggested Wines</h3>
  <% category_wine = Category.find(:first, :conditions => ["name like (?) AND parent_id is ?","%wine%", nil]) %>
  <% products = Product.find(:all, :limit => 5, :order => "RAND()", :conditions => "id IN (#{category_wine.all_products_ids.join(',')}) AND raccomanded = true AND active = true") %>
  <ul>
    <%- for product in products do -%>
    <li><%= link_to product.name, nested_products_uri(product) %></li>
    <%- end -%>
  </ul>
</div>