<div class="block" id="box_testimonial">
  <h1>Italian wine and food Online | Award winning wine merchant<!-- Testimonials --></h1>
  <div>
    Have not tasted Italian wines as such since visiting Italy 3 years ago 
    <%= link_to "(Read all ...)", :controller => "site/base", :action => "testimonial" %>
    <br/><br/>
    Mr. Carruthers				
    <br/>
  </div>
</div>			
