<div class="block" id="box_most_read_recipes">
  <h1>Italian wine and food |Award winning wine merchant<!-- Most read recipes --></h1>
  <br />
  <ul>
    <%- Recipe.active.most_viewed.paginate(:page => params[:page], :per_page => 3).each do |recipe| -%>
    <li style="padding:0px;"><%= link_to recipe.name, recipe_path(recipe) %></li><li>&nbsp;</li>
    <%- end -%>
  </ul>
</div>

