<% reviews=Review.find(:all, :conditions => ["reviewer_type = ? and publish = ?", "Recipe",true], :order => "created_at DESC").paginate(:page => params[:page], :per_page => 3)%>

<%- if reviews.size > 0 -%>

<div class="block" id="box_latest_recipe_reviews">
  <h1>Latest Recipe Reviews</h1><br/>


  <%- reviews.each do |review| -%>
    <table cellpadding="0" cellspacing="0" border="0">
       <tr><td>
          <%= avatar_for_user(review.user, "small") %>
        </td>
        <td style="padding:0 0 5px 5px; "><%= link_to review.description,recipe_path(review.reviewer_id) %></td>
      </tr>
    </table>
    <table cellpadding="0" cellspacing="0" border="0">
      <tr>
        <td>
          <%= review.user.name %>
        </td>
      </tr>
    </table> <br /> <br />
  <%- end -%>
</div>
<br />
<%-end-%>

