<div class="col-md-4">
  <div class="small-box-2">
    <% products = Product.find(:all, :limit => 3,:include => {:categorizations => :category},:conditions => ["categories.name LIKE ? AND DATE(date) > ? AND active" ,'%Events%',Date.today],:order =>'date') %>
    <% #unless products.blank? %>
    <div class="block" id="box_event" >
      <%#= link_to((image_tag "upcomingEvents1.png",:alt=>'Upcoming Events',:title=>'Upcoming Events'), '/events')%>
      <%#= link_to((image_tag "upcomingEvents_new.png",:alt=>'Upcoming Events',:title=>'Upcoming Events',:height=>'117px;',:width=>'248px;'), '/events')%>
      <%= link_to((image_tag "upcomingEvents1.png",:alt=>'Upcoming Events',:title=>'Upcoming Events'), '/events')%>
      <br />
      <ul>
      <%- products.each do |product| -%>
        <li style="margin-bottom:10px;">
          <%= product.date.strftime("%d %B %Y at %H:%M") if product.date %>
      	  <div><%= link_to product.name, "/wine-events/#{product.friendly_identifier}", :style => "font-size:14px;" %></div>
    	  </li>
      <%- end -%>
      </ul>
    </div>
    <%# end %>
  </div>
</div>
