<% week_products = WeekProduct.find(:all) %>
<% unless week_products.blank?

%>
<div class="block" id="box_event">
  <%= link_to((image_tag "WinesOfTheWeek.png"), '/wine')%><br />
  <ul>
  <%- week_products.each do |w_product| -%>
   <% product = Product.find(w_product.week_product_id) %>

   <% if  product.categories.root.name.downcase == 'wine' %>
    <li style="margin-bottom:10px;">
    <div><%= link_to product.name,{:controller=>'site/products',:action=>'wine_of_the_week',:id=>product.id}, {:style => "font-size:14px;color:#9b0707"} %></div>
	  </li>
	  <% end  %>
  <%- end -%>
  </ul>
</div>
<% else %>
<div class="block" id="box_event" >
  <div><%= image_tag "upcomingEvents1.png" %></div>
  <div style="padding:10px 10px 10px 10px;"></div>
</div>
<% end %>

