<%- @testimonials = Testimonial.find(:all,:conditions=>['UPPER(page_to_display) = ?','WINE CLUB'],:order=>'id DESC',:limit=>2) -%>
<div class="left-small-box">
  <div class="small-swiper-heading">Wine Club Testimonials</div>
  <div  class="review-box">
      <div class="review-tex">
        <!-- Swiper -->
        <div class="swiper-container" id="thirdSwiper">
          <div class="swiper-wrapper">
            <%- if @testimonials.size > 0 -%>
              <%- @testimonials.each do |testimonial| -%>
                <div class="swiper-slide">
                  <div class="slide-text"><%= truncate(testimonial.description.html_safe, {:length => 100}) %></div>
                    <div class="date"><b>Davide</b>  - 29/10/2015</div>
                </div>
              <%- end -%>
            <%- else -%>
            <div class="slide-text">No Testimonial for Wine Club</div>
            <%- end -%>          
          </div>
        </div><!-- End Swiper -->
      </div>
      <div class="review-arrow">
        <!-- Add Arrows -->
        <div class="pagi-arrow2">
          <div class="swiper-button-prev"></div>
            <div class="arrow-sep"></div>
            <div class="swiper-button-next"></div>
        </div>
      </div>
    </div>
  </div>