<div class="block" id="topTextBox" style= "display:block;">
  <table>
    <tr>
      <td>
        <table>
          <tr>
            <td colspan="2" style="height: 0px;">
              <h3 style="padding-bottom: 0; margin-bottom: 3px;">Our Manifesto</h3>
            </td>
          </tr>
          <tr>
            <td class="banner" style="font-size: 12px;">
               <% @about = AboutU.find(:first, :conditions => {:link_type => "pricipal and philosophy"} ) %>
               <%#= truncate(@about.description, length: 460).html_safe  %><br /><div class="fRight" style="color: #ff0000;">
               <%= link_to "read more", "/about-us"-%></div>
              </td>
            </tr>
        </table>
      </td>
      <td>
        <%= link_to image_tag("/images/small-wine-search-box-newd.jpg", :style => "margin-top: 21px;"), site_sommelier_index_path -%>
      </td>
        <td>
        <%= link_to image_tag("/images/small-waranty-box-new.jpg", :style => "margin-top: 21px;"), guarantee_of_satisfaction_path -%>
     </td>
    </tr>
  </table>
</div>

