<!-- 
<div class="col-md-4">
    <div class="small-box">
        <div class="small-box-heading">How You Feeling?</div>
        <div class="row clearfix">
            <div class="col-xs-7">
                <div class="small-box-text">Drink Wine by your mood</div>
                <div class="read-more"><#% link_to "Read More", "/site/moods" %></div>
            </div>
            <div class="col-xs-5"><img src="/images/feel-img.png" alt="feel image"></div>
        </div>
    </div>
</div> -->

<div class="col-md-4">
    <div class="small-box-3 center-align">
        <%= link_to image_tag(SmallBoxSetting.find_by_box_title("moods").image.image_filename.try(:url)), "/site/moods" -%>
    </div>
</div>
