<div class="block" id="topTextBox" style= "display:block;">
  <table>
    <tr>
      <td>
        <%= image_tag("/images/small-about-us--banner.jpg", :width => "417px", :height => "132px")-%>
      </td>
      <td>
        <%= image_tag("/images/small-wine-search-box-newd.jpg") -%>
        <%= image_tag("/images/small-waranty-box-new.jpg") -%>
      </td>
    </tr>
  </table>
</div>

