<% category = params[:category]
    if category == "wine-club" or category == "wine-tours"
      @category = Category.find("wine")
    end
%>

<% unless @category.blank? %>
<%- product_on_offers = @category.products.on_offer || Product.on_offer -%>
<% unless product_on_offers.blank? %>

<div class="block" id="box_products_on_offer" >
 <table>
  <tr>
    <td style="text-align:center;" colspan="2"><img src="/images/special_offer.png" width="150"></td>
  </tr>
   <tr>
    <%- product_on_offers.each_with_index do |product, index| -%>
      <%
        if index > 1
          break
        end
      %>
      <td style="margin-bottom:10px; vertical-align:bottom;" width="50%">
        <table>
          <tr>
            <td style="vertical-align:top; text-align:center;">
              <%= link_to product.name,nested_products_uri(product) %>
            </td>
          </tr>
          <tr>
            <td style="text-align:center;" class="productImgOfOffer"><%= show_image_tag(product.layout_image, product.image_1,:jpg,product.name) %>
            </td>
          </tr>
          <tr>
            <td style="text-align:center; font-weight:bold;"><%=product.discount.floor%>% Off</td>
          </tr>
          <tr>
            <td style="text-align:center;"><%= link_to(image_tag("buttons/add_to_cart_button.png"), "/cart?product_id=#{product.id}", :remote => true, :method => :post) -%></td>
          </tr>
        </table>
      </td>
    <%- end -%>
   </tr>
 </table>
</div>
<% end %>
<%end %>