<%- @testimonials = Testimonial.find(:all,:conditions=>['UPPER(page_to_display) = ?','WINE TOUR'],:order=>'id DESC',:limit=>2) -%>

<div class="left-small-box" id="box_event_reviews">
  <div class="small-swiper-heading">Wine Tour Testimonials</div>
  <div  class="review-box">
    <div class="review-tex">
      <!-- Swiper -->
      <div class="swiper-container" id="thirdSwiper">
        <div class="swiper-wrapper">
          <%- if @testimonials.size > 0 -%>
            <%- @testimonials.each do |testimonial| -%>
              <div class="swiper-slide">
                <div class="slide-text"><%= link_to testimonial.description.html_safe,testimonial_path %></div>
                <!-- <div class="date"><b>Davide</b>  - 29/10/2015</div> -->
              </div>
            <%- end -%>
            <%- else -%>
              <div class="slide-text">No Testimonial for Wine Tour</div>
            <%- end -%>
          </div>
        </div><!-- End Swiper -->
      </div>
      <div class="review-arrow">
        <!-- Add Arrows -->
        <div class="pagi-arrow2">
          <div class="swiper-button-prev"></div>
          <div class="arrow-sep"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
  </div>
</div>