<div class="col-md-4 about">
  <div class="small-box-2">
    <div class="small-box-heading"><%= link_to "Latest Review", "/wine-community" %></div>
    <div  class="review-box">
      <div class="review-tex">
        <!-- Swiper -->
        <div class="swiper-container" id="thirdSwiper">
          <div class="swiper-wrapper">
            <%@reviews.each do |review|%>
              <div class="swiper-slide">
                <%user =  User.find_by_id(review.user_id)%>
                <div class="slide-text"><%=truncate(review.description , length: 200)%></div>
                  <div class="date"><%if user%><b><%=user.name%></b>  -<%end%> <%=review.created_at.to_date.to_s(:long)%></div>
              </div>
            <%end%>
          </div>
        </div><!-- End Swiper -->
      </div>
      <div class="review-arrow">
        <!-- Add Arrows -->
        <div class="pagi-arrow2">
            <div class="swiper-button-prev"></div>
            <div class="arrow-sep"></div>
            <div class="swiper-button-next"></div>
        </div>
      </div>
    </div>
  </div>
</div>