<div class="col-md-4 half-on-tab">
    <div class="small-box-3 center-align">
        <%path = get_small_box_hampers_image_path%>
        <%= link_to image_tag(path, alt:"Hampers", title:"Hampers" ), "/hampers" -%>
    </div>
</div>