<div class="block" id="box_subscription">
  <% form_for :subscription, :url => subscribe_dali_news_path do |f| %>
  <div style="float:right;margin-top:28px;margin-right:10px;">
    <%= f.text_field :email, :value => "Enter your e-mail", :size => 15, :onblur => "if(this.value=='')this.value=this.defaultValue;", :onfocus => "if(this.value==this.defaultValue)this.value='';" %><br />
    <br />
    <%= image_submit_tag "subscribe_button.png", :style=>"border:none" %>
  </div>
  <% end %>
</div>
<div style="clear:both;"></div>