<% category = params[:category]
    if category == "wine-club" or category == "wine-tours"
    @category = Category.find("wine")
    end
%>

<%- product_on_offers = @category.products.on_offer || Product.on_offers -%>
<div id="box_products_on_offer" class="block">
  <h1>Special Offers</h1>
  <br />
  <%- if product_on_offers.size > 0 -%>
  <ul style="list-style:none;margin:0;padding:0;">
  <%- product_on_offers.each do |product| -%>
    <li style="margin-bottom:5px;">
<%= link_to product.name, nested_products_uri(product) %></li>
  <%- end -%>
  </ul>
  <%- else -%>
  No products
  <%- end -%>
</div>

