<% @testimonials = Testimonial.find(:all,:conditions=>['UPPER(page_to_display) = ?','WINE TOUR'],:order=>'id DESC',:limit=>2) -%>

<div class="left-small-box" id="box_event_reviews">
  <h2 class="small-swiper-heading">Wine Tour Testimonials</h2>
  <div  class="review-box">
    <div class="review-tex">
      <!-- Swiper -->
      <div class="swiper-container" id="thirdSwiper">
        <div class="swiper-wrapper">
          <%- if @testimonials.size > 0 -%>
            <%- @testimonials.each do |testimonial| -%>
              <div class="swiper-slide">
                <div class="slide-text">
                  <span class="quotes-before"><img src="/images/quotes-before.png" alt="Qoutes" title="Qoutes" /></span>
                  <span class="pad5-7">
                    <%= link_to testimonial.description.html_safe,testimonial_path, :title=>"Testimonial" %>
                  </span>
                  <span class="quotes-after"><img src="/images/quotes-after.png" alt="Qoutes" title="Qoutes"  /></span>
                </div>
              </div>
            <%- end -%>
            <%- else -%>
              <div class="slide-text">
                <span class="quotes-before"><img src="/images/quotes-before.png"  alt="Qoutes" title="Qoutes" /></span>
                  <span class="pad5-7">No Testimonial for Wine Tour</span>
                  <span class="quotes-after"><img src="/images/quotes-after.png" alt="Qoutes" title="Qoutes" /></span>
              </div>
            <%- end -%>
          </div>
        </div><!-- End Swiper -->
      </div>
      <div class="review-arrow">
        <!-- Add Arrows -->
        <div class="pagi-arrow2">
          <div class="swiper-button-prev"></div>
          <div class="arrow-sep"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
  </div>
</div>