<% if Product.wine_tours.length > 0 %>
	<div class="block clean" id="box_wine_tours">
		<%= link_to image_tag("wineTour.png",:alt=>'Wine Tours',:title=>'Wine Tours'), "/wine-tours" %>
	</div>
<% end %>