<%- @testimonials = Testimonial.find(:all,:conditions=>['UPPER(page_to_display) = ?','WINE TOUR'],:order=>'id DESC',:limit=>2) -%>

<div class="left-small-box" id="box_event_reviews">
  <div class="small-swiper-heading">Wine Tour Testimonials</div>
  <div  class="review-box">
    <div class="review-tex">
      <!-- Swiper -->
      <div class="swiper-container" id="thirdSwiper">
        <div class="swiper-wrapper">
          <%- if @testimonials.size > 0 -%>
            <%- @testimonials.each do |testimonial| -%>
              <div class="swiper-slide">
                <div class="slide-text">
                  <span class="quotes-before"><img src="/images/quotes-before.png" /></span>
                  <span style="padding: 5px 7px;">
                    <%= link_to testimonial.description.html_safe,testimonial_path %>
                  </span>
                  <span class="quotes-after"><img src="/images/quotes-after.png" /></span>
                </div>
                <div class="date"><%if user%><b><%=user.name%></b>  -<%end%> <%=review.created_at.to_date.to_s(:long)%></div>
              </div>
            <%- end -%>
            <%- else -%>
              <div class="slide-text">
                <span class="quotes-before"><img src="/images/quotes-before.png" /></span>
                  <span style="padding: 5px 7px;">No Testimonial for Wine Tour</span>
                  <span class="quotes-after"><img src="/images/quotes-after.png" /></span>
              </div>
            <%- end -%>
          </div>
        </div><!-- End Swiper -->
      </div>
      <div class="review-arrow">
        <!-- Add Arrows -->
        <div class="pagi-arrow2">
          <div class="swiper-button-prev"></div>
          <div class="arrow-sep"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
  </div>
</div>