<div class="col-md-4 hide-on-mobile hide-on-tab">
    <div class="small-box-3 center-align">
        <%path =  get_small_box_grape_guide_image_path%>
        
        <%= link_to image_tag( path ,:alt=>'Grape Guide',:title=>'Grape Guide'), site_grapes_path,:title=>'Grape Guide' %>    
    </div>
</div>