<div class="col-md-4">
    <div class="small-box-3 center-align">
        <%path = get_small_box_community_image_path%>
        <%= link_to image_tag(path, alt:"wine Community", title:"wine Community"), "/wine-community", :title=>"Wine Community" -%>
    </div>
</div>