<div class="box">
  <div class="box-image">
    <%= link_to image_tag('olive-banner.jpg',:alt=>"Extra virgin Olive Oil Banner",:title=>"Olive Oil") , olive_oil_guide_path, :title=>"Olive Oi" %>
  </div>
</div>