<% if Setting.first.chat_available %>
	<style>
		.help-button{
			position:fixed;
			bottom: 10px;
			right: 20px;
			background: #ff6600;
			padding:10px 20px;
			border-radius: 999rem;
			color:white;
			fill: white;
			cursor: pointer;
		}
		.help-button:hover{
			background: rgb(230, 92, 0);
		}
		.help-button span{
			display:inline-block;
			vertical-align: middle;
		}
	</style>
	<div class="help-button" onclick="popupwindow('http://<%=Rails.env == 'production' ? 'www.italyabroad.com' : 'localhost:3000'%>/chat_messages', 700, 650)">
	  
	  <span class="chat-txt">Live Chat</span>
	</div>
<%end%>