<% if Setting.first.chat_available %>
	<style>
		.help-button{
			position:fixed;
			bottom: 10px;
			right: 20px;
			background: #ff6600;
			padding:10px 20px;
			border-radius: 999rem;
			color:white;
			fill: white;
			cursor: pointer;
                        z-index: 1000;
		}
		.help-button:hover{
			background: rgb(230, 92, 0);
		}
		.help-button span{
			display:inline-block;
			vertical-align: middle;
		}
	</style>
	<% if logged_in? and  current_user.admin? %>
		<div class="new_message new_alert">
		  <iframe src="http://<%=Rails.env == 'production' ? 'www.italyabroad.com' : 'localhost:3000'%>/chat_messages/show_alert" height="30" width="400" style="border: none;"></iframe>		
		</div>
	<%end %>
	<div class="help-button" onclick="popupwindow('http://<%=Rails.env == 'production' ? 'www.italyabroad.com' : 'localhost:3000'%>/chat_messages', 700, 650)">
	  <span class="chat-txt">Live Chat</span>
	</div>
<%end%>
