<div class="col-md-4">
    <div class="small-box-3 center-align">
        <%path = get_small_box_community_image_path%>
        <%= link_to image_tag(path, alt:"Wine Community", title:"Wine Community"), "/wine-community" -%>
    </div>
</div>