<% products = @products || @category.products %>
<% price_opts = products.collect(&:price_discounted).flatten.sort %>
<div class="range-slider">
  <div class="black-heading-16">Price</div>
  <p>
    <label for="amount"></label>
    <input type="text" id="amount" readonly >
  </p>
  <div id="slider-range"></div>
  <div class="row clearfix range-price">
      <div class="col-xs-4 left">
          <div>|</div>
          <div>£0</div>
      </div>
      <div class="col-xs-4 center">
          <div>|</div>
          <div>£75</div>
      </div>
      <div class="col-xs-4 right">
          <div>|</div>
          <div>£150+</div>
      </div>
  </div>
</div>
<%= hidden_field_tag :start_price , (params[:start_price].nil? or params[:start_price].blank?) ? price_opts.first : params[:start_price] , :class=> 'start_price' %>
<%= hidden_field_tag :end_price , (params[:end_price].nil? or params[:end_price].blank?) ? price_opts.last : params[:end_price] , :class=> 'end_price' %>