


<div style="padding:0px;margin:0px;">
<a href="http://www.facebook.com/sharer.php?u=<%= "#{request.url}" -%>&t=<%= "#{request.url}" -%>" target="blank"><img style="padding-bottom:1px;" src="/images/facebook.gif" alt="facebook" name="facebook" border="0" id="facebook"></a>

<a href="https://twitter.com/share" class="twitter-share-button" data-count="none">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
<div style="padding-bottom:8px;font-weight:bold;color:#CC0000;"><!-- Share this with: -->

<a rel="nofollow" style="text-decoration:none;" href="http://en.wikipedia.org/wiki/Social_bookmarking" target="_blank"  title="Information"><!--  ?  --></a>
</div>

<br/>

