<div class="block" style="padding:0px;margin:0px; vertical-align: middle">
	<div style="float:left; width:60px; margin:10px 10px 10px 20px;">
		<a id="b" class="btn" target="_blank" href="https://twitter.com/Italyabroad" title="twitter"><img src="/images/twitter_follow.png" width="70" alt="Twitter"></a>
	</div>
	<div style="float:left; width:60px; margin:10px 10px 10px 0px;">
		<a id="b" class="btn" target="_blank" href="https://www.facebook.com/pages/Italyabroadcom/144011672282174" title="facebook"><img src="/images/facebook_follow.jpg" alt="Facebook" width="70"></a>
	</div>
	<div style="float:left; width:60px; margin:10px 10px 10px 0px;">
		<a id="b" target="_blank" class="btn" href="https://instagram.com/italyabroad" title="instagram"><img src="/images/instagram_follow.jpg" alt="Instagram" width="70"></a>
	</div>
	<div style="clear:both;"></div>
</div> 
<br/>