<div class="col-md-4">
    <div class="small-box">
        <div class="small-box-heading">Wine Club</div>
        <div class="row clearfix">
            <div class="col-xs-7">
                <div class="small-box-text">Discover the best Italian wines sat on the confort of your home</div>
                <div class="read-more"><%= link_to "Read More", "wine-club" %></div>
            </div>
            <div class="col-xs-5 right-align"><img src="/images/club-img-01.png" alt="club image"></div>
        </div>
    </div>
</div>