<% [@wine_sizes, @food_or_drinks, @desired_expenditures, @food_options].each do |sommeliers| %>
    <br />
    <fieldset>
      <% if sommeliers.present? %>
        <legend><%= sommeliers.first.class -%></legend>
        <% sommeliers.each do |sommelier| %>
            <%= check_box_tag "[sommelier][#{sommelier.class}][]", "#{sommelier.id}", (@category.present? and (@category.send(sommelier.class.to_s + "ids")).present? and (@category.send(sommelier.class.to_s + "ids")).split(",").include?(sommelier.id.to_s)) -%>
            <%= "#{sommelier.title}" -%>
        <% end %>
      <% else %>
        <legend>New Sommelier</legend>
        <div>Please create <%= link_to "Sommeliers", admin_sommeliers_path %></div>
      <% end %>
    </fieldset>
<% end %>
