<h1>As you are not logged in !! Please enter your username to start chatting </h1>
<%= form_for '', :url => chat_messages_url, :html => {:method => :get} do |f| %>
    <input type="text" name="with" class="fil form-control" id="with" placeholder="Nickname" value="">
    <input type="submit" value="Start Chatting">
<% end %>

