<%- @title = "My Reviews"; @class = "no-padding" -%>
<%- @breadcrumbs = "#{link_to "Home", root_url} &raquo; My Reviews" -%>

<div id="header"><%= render :partial => 'site/shared/box_login' %></div>
<h4 class="account-title">My Reviews</h4>
<%= content_tag(:div, will_paginate(@reviews), :style => "margin:10px 20px;") if @reviews.size > 0  %>
<ul style="padding:0;list-style:none;" id="my_reviews_list">
  <%= render :partial => 'review', :collection => @reviews %>
</ul>

<%- content_for :right do -%>
  <%= render :partial => '/site/shared/box_subscriptions' %>
<%- end -%>