<%- @title = "Administration - Database Backups"; @page_id = "Administration" -%>
<%- @breadcrumbs = "Administration &raquo; #{link_to "Database Backups", available_backups_admin_settings_path}" -%>

<div class="inner_content settings" id="admin_settings_edit">
  <h2>Database Backups</h2>
  <div class="hint-grey"> (30 Recent backups with one backup after every 3 hours)</div>
  <br />

	<div class="col1"  style="float:left;width:436px;">
	 <% backup_directory = File.join(Rails.root,'/backups')%>
	 <% backups = Dir.glob(File.join(backup_directory,'/*')).select{|file| File.file?(file)}.sort_by{|f| File.mtime f}.reverse %>
	 <% backups.each do |backup| %>
	    <%= File.basename(backup) %>
	    <%= link_to 'Download', "/admin/settings/download?name=backups/#{File.basename(backup)}" %>
	    <%= link_to 'Restore', "#", :onclick => "alert('comming soon'); return false; "%>
	    <br />
	 <% end %>
	</div>


	<div class="key_col2" style="float:left;margin-top:-35px" >
	  <br />
	  <div class="instruction_box hint-grey" style="margin-top:30px;width:286px">
	    <div class="instruction_heading">
	      <b>Instructions</b>
	    </div>
	    <div class="clr"></div>
	    <p class="">
	      All Available local backup recovery points are listed to the left. To restore the database to the time listed, click the 'Restore" link next to the desired backup, please note that this action will remove all changes made after the time stamp on the backup.
	      <br />
	      <br />
	      Changes made after the time stamp on the backup will be lost.
	    </p></div></div>
	<div class="clr"></div>
</div>