<!-- <h1>Edit Product</h1> -->
<h1>Italian wine and food |Award winning wine merchant</h1>
<%= form_for :product, :url => admin_product_path(@product), :html => {:multipart => true, :method => :put} do %>
	<%= render :partial => "form" %>
	<p><%= submit_tag "Save" %> or <%= link_to "Cancel", admin_products_path %></p>
<% end %>