<%= render partial: 'title' %>

<div class="inner_content settings" id="admin_settings_edit">
  <h2>New Small box setting</h2>

	<%=render partial: 'form' , locals:{small_box_setting: @small_box_setting} %>
</div>	