<% if logged_in? %>
  <span style="display:none;" id="topic_mod">
  <% if @topic.editable_by?(current_user) -%>
    <%= link_to('edit', edit_forum_topic_path(@forum, @topic), :class => "utility") %> |
    <%= link_to('delete', forum_topic_path(@forum, @topic), :class => "utility", :method => :delete, :confirm => 'Delete this topic forever?'[:delete_topic_conf]) %>
  <% end -%>
  </span>
<% end -%>