<%- @title = "New User"; @page_id = "Administration" -%>
<%- @breadcrumbs = "Administration &raquo; #{link_to "Users", admin_users_path} &raquo; New User" -%>

<div class="inner_content">
  <h2><%= @title %></h2>
  <br />
  <% form_for :user, :url => admin_users_path do |f| %>
  <%= show_messages(flash[:notice]) %>
  	<%= render :partial => "form" %>
  <% end %>
</div>

