<div id="general_information">
	<table>
	  <tr>
	    <td>Name:</td>
	    <td><%= text_field  :subscription, :name %></td>
	  </tr>
    <tr>
      <td>Surname:</td>
      <td><%= text_field  :subscription, :surname %></td>
    </tr>
		<tr>
		  <td>Email:</td>
		  <td><%= text_field  :subscription, :email %></td>
		</tr>
	</table>
</div>
