<% if logged_in? && post.editable_by?(current_user) -%>
    <p>
      <span class="edit">
        <%= ajax_spinner_for "edit-post-#{post.id}", "spinner_bounce.gif" %>
        <%= link_to('Edit post',
                           {:url => edit_post_path(:forum_id => @forum, :topic_id => @topic, :id => post), :method => :get, :remote => true,
                            :before => "EditForm.init(#{post.id});", :condition => "!EditForm.isEditing(#{post.id})" },
                           {:href => edit_post_path(:forum_id => @forum, :topic_id => @topic, :id => post, :page => params[:page]), :class => "utility"}) %>
      </span>
    </p>
<% end -%>                                                                               N