<!DOCTYPE html>
<html>
<head>
  <title>Italian Food &amp; Deli from Small Producers - Italyabroad.com</title>
    <meta name="description" content="Italian Food &amp; Deli from Small Producers in the UK, High Quality Italian Food online"/>
  <meta name="keywords" content="Italian delicatessen, extra virgin olive oil, tuscan extra virgin olive oil, viola extra virgin olive oil, modena balsamic vinegar"/>
  <meta name="copyright" content="italyabroad.com"/>
    <meta name="Abdul Malik" content="Goodlogics">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="ROBOTS" content="INDEX,FOLLOW"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
