<!DOCTYPE html>
<html>
<head>
  <title>Italian Wines & Italian Food made by Small Producers </title>
    <meta name="description" content="The best and finest Italian food and wine, olive oil,modena balsamic vinegar, cakes,  and much more"/>
  <meta name="keywords" content="The best and finest Italian food and wine, wine, food, red wine, white wine, rose wine, sparkling wine, dessert wine, vintage wine, fine wine, wines, foods, red wines, white wines, rose wines, sparkling wines, dessert wines, vintage wines, fine wines, authentic Italian product, finest Italian food, finest Italian wine, fine Italian wine, Italian food product, typical Italian product, finest Italian food in the UK, fine Italian food, Italian deli Newcastle, Italian desserts, Italian deli north east, Italian delicatessen north east, Italian wines north east, Italian extra virgin olive oil, Italian organic products, Italian organic wines, Italian wines Newcastle, award winning Italian wines, enoteca in the UK, Italian gift, Italian hampers, Italian deli online, hamper with Italian products, hampers free delivery, wine gift basket, strawberry wine, Italian food, organic hampers, gift baskets, anniversary gifts, Christmas gifts, gift hamper England, corporate hampers, panettone, pandoro, torrone, amaretti, Chianti Classico, Chianti riserva, Vino Nobile di Montepulciano, frascati, small producers, Modena balsamic vinegar, extra virgin olive oil, events, wine tasting, corporate, corporate gifts, corporate hampers, wine experts"/>
  <meta name="copyright" content="italyabroad.com"/>
    <meta name="Abdul Malik" content="Goodlogics">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="ROBOTS" content="INDEX,FOLLOW"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/images/italyabroad.ico" />
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>