<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<header id="topContent">
		<div class="logo col-md-3"><%= link_to image_tag('logo_hi_res.gif', :alt => "Italian wine and food", :title => "Italian wine and food"), root_url, :id => "logo", :title=>"Italian wine and food" %></div>
  	</header>
  	 <div style="padding: 20px;">
  	 	<%= yield %>
  	 </div>
  	<footer>
  		<h1>Italyabroad.com Team </h1>
  	</footer>
</body>
</html>